.page-single {
    background-color: #020d18;
    padding: 75px 0;
}

.movie-single .movie-img,
.movie-single .mv-ceb {
    margin-right: 30px;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .movie-single .movie-img,
    .movie-single .mv-ceb {
        margin-right: 0;
    }
}

.movie-single .movie-img img,
.movie-single .mv-ceb img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.movie-single .movie-img .movie-btn,
.movie-single .mv-ceb .movie-btn {
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column;
    background-color: #07101a;
    border: 3px solid #0c1c2c;
}

.movie-single .movie-img .movie-btn a,
.movie-single .mv-ceb .movie-btn a {
    height: 45px;
}

.movie-single .movie-img .movie-btn .btn-transform.red,
.movie-single .mv-ceb .movie-btn .btn-transform.red {
    margin-bottom: 15px;
}

.movie-single .movie-img .movie-btn .redbtn:hover,
.movie-single .mv-ceb .movie-btn .redbtn:hover {
    color: #ffffff;
}

.movie-single .movie-single-ct .movie-rate {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    margin-bottom: 70px;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .movie-rate {
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }
}

.movie-single .movie-single-ct .movie-rate .rate {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie-single .movie-single-ct .movie-rate .rate i {
    font-size: 36px;
    color: #f5b50a;
}

.movie-single .movie-single-ct .movie-rate .rate p {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 11px;
}

.movie-single .movie-single-ct .movie-rate .rate p span {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}

.movie-single .movie-single-ct .movie-rate .rate p span.rv {
    font-size: 12px;
    color: #4280bf;
}

.movie-single .movie-single-ct .movie-rate .rate-star {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
    border-left: 1px solid #405266;
    padding-left: 30px;
    height: 54px;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .movie-rate .rate-star {
        padding-left: 0;
        border: none;
    }
}

.movie-single .movie-single-ct .movie-rate .rate-star p {
    font-size: 18px;
    color: #abb7c4;
    margin-right: 15px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .movie-rate .rate-star p {
        font-size: 16px;
        margin-right: 0;
        margin-top: -60px;
    }
}

.movie-single .movie-single-ct .movie-rate .rate-star i {
    font-size: 36px;
    color: #abb7c4;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .movie-rate .rate-star i {
        font-size: 22px;
    }
}

.movie-single .movie-single-ct .movie-rate .rate-star i.ion-ios-star {
    color: #f5b50a;
}

.movie-single .movie-single-ct .tab h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: none;
    margin-bottom: 15px;
}

.movie-single .movie-single-ct .tab h2 {
    font-family: 'Dosis', sans-serif;
    color: #4280bf;
    font-weight: bold;
    text-transform: none;
    font-size: 24px;
    margin-bottom: 30px;
}

.movie-single .movie-single-ct .tab .rv-hd {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .tab .rv-hd {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
}

.movie-single .movie-single-ct .tab .rv-hd .redbtn {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.movie-single .movie-single-ct .tab.review .mv-user-review-item {
    border-bottom: 1px solid #233a50;
    padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .tab.review .mv-user-review-item {
        padding: 20px;
    }
}

.movie-single .movie-single-ct .tab.review .mv-user-review-item .user-infor {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: inherit;
}

.movie-single .movie-single-ct .tab.review .mv-user-review-item .user-infor img {
    margin-right: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 42px;
    height: 42px;
}

.movie-single .movie-single-ct .mvsingle-item {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .mvsingle-item {
        padding: 30px;
    }
}

.movie-single .movie-single-ct .mvsingle-item img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin-bottom: 15px;
    position: relative;
}

.movie-single .movie-single-ct .mvsingle-item img:hover {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    -webkit-opacity: 0.7;
    opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    filter: alpha(opacity=70);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.movie-single .movie-single-ct .mvsingle-item .vd-it {
    position: relative;
}

.movie-single .movie-single-ct .mvsingle-item .vd-it a {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.movie-single .movie-single-ct .mvsingle-item .vd-it a img {
    width: initial;
}

@media (max-width: 767px) {
}

.movie-single .movie-single-ct .mvsingle-item .vd-infor {
    margin-top: 15px;
}

.movie-single .movie-single-ct .mvsingle-item .vd-infor h6 a {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: none;
}

.movie-single .movie-single-ct .mvsingle-item .vd-infor p.time {
    font-family: 'Dosis', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 400;
    text-transform: none;
}

.movie-single .movie-single-ct .mvsingle-item .vd-item {
    margin-bottom: 30px;
    width: 170px;
}

.movie-single .movie-single-ct .mvsingle-item .vd-item:hover h6 a {
    color: #dcf836;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .media-item {
        max-width: 170px;
        margin: 0 auto;
        padding: 0;
    }

    .movie-single .movie-single-ct .media-item .vd-it a {
        left: 65px;
        top: 30px;
    }
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .ov-item {
        padding: 15px;
    }
}

.movie-single .movie-single-ct .mvcast-item .cast-it {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cast-left {
    width: 60%;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cast-left h4 {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    background-color: #233a50;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 15px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it p {
    width: 40%;
    text-align: left;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .series-it {
    width: 100%;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .series-it a {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.movie-single .movie-single-ct .mvcast-item .cast-it .series-it p {
    padding-right: 20px;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .mvcast-item .cast-it .series-it p {
        width: 100%;
        padding-right: 10px;
    }
}

.movie-single .movie-single-ct .mvcast-item .cast-it .cebleb-film {
    width: 90%;
}

.movie-single .movie-single-ct .mvcast-item .cast-it img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.movie-single .movie-single-ct .mvcast-item .cast-it a {
    color: #4280bf;
    margin-right: 100px;
}

@media (max-width: 767px) {
    .movie-single .movie-single-ct .mvcast-item .cast-it a {
        margin-right: 30px;
    }
}

.movie-single .movie-single-ct .mvcast-item .cast-it a:hover {
    color: #dcf836;
}

.movie-single .movie-single-ct .mvcast-item .cast-it p {
    margin-bottom: 0;
}

.movie-single .movie-single-ct .mv-user-review-item .no-star {
    color: #f5b50a;
    font-size: #abb7c4;
}

.movie-single .movie-single-ct .mv-user-review-item .no-star i.last {
    color: #abb7c4;
}

.movie-single .movie-single-ct .tab.review .mv-user-review-item.last {
    border-bottom: 0;
}

.movie-single .sb-it {
    margin-bottom: 30px;
    margin-left: 30px;
}

@media (max-width: 991px) {
    .movie-single .sb-it {
        margin-top: 30px;
    }
}

.movie-single .sb-it h6 {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.movie-single .sb-it p.tags a {
    background-color: #233a50;
    color: #abb7c4;
    padding: 2px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.movie-single .sb-it p.tags a:hover {
    color: #dcf836;
}

.movie-single .ads {
    margin-left: 30px;
}

.movie-single p a {
    color: #4280bf;
}

.movie-single p a:hover {
    color: #dcf836;
}

.movie-single .sticky-sb {
    position: relative;
    top: 0px;
}

@media (max-width: 991px) {
    .movie-single .sticky-sb {
        max-width: 400px;
        margin: 0 auto 60px;
    }
}